
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight:bold;
    color: #24893c;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.repeats_class{
    background:#13acba;
    border-color:#13acba;
}
.repeatsclass {
    background: #62a7ef;
    border-color: #62a7ef;
}
.fc-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}